
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 20px 10px;
    background: #5f2222;  
    text-align: center;
}


.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 20px;
   color:#333;
}



.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}


.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:10px;
   padding-bottom: 40px;
   background: #eee;
}

.form-container form{
 padding: 20px 10px;
border-radius: 5px;

   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 400px;
}


.form-container form input,
.form-container form select{
   width: 100%;
   font-size: 14x;
   margin:8px 0;
    background-color: #F6F6F6;
    padding: 10px;
    border: 2px solid rgba(216, 216, 216, 1);
    border-radius: 10px;
    overflow: hidden;
    justify-content: flex-start;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
     color: #ffffff;
    border-radius: 30px;
    padding: 10px 10px;
    background: linear-gradient(122.33deg, #68bed1 30.62%, #1E94E9 100%);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: all 0.3s linear;
}

.form-container form .form-btn:hover{
transform: translateY(-2px);
}

.form-container form p{
   font-size: 15px;
    font-weight: 600;
}

.form-container form p a{
   background-color:rgb(255, 255, 255);
    color: #0095B6;

}


.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}